$body-font-family: "IBM Plex Sans", sans-serif;
$body-font-size: 20px;
$body-font-weight: 400;
$body-line-height: 1.2;
$body-text-color: #333333;
$body-secondary-text-color: #FFF;
$background-primary: var(--gradient_light);
$imagePath: '/images/';